Cell2Fire==0.2
numpy==2.4.6
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas==3.0.3
pyserial==3.5
python-dateutil==2.9.0.post0
six==1.17.0
